/* HTML Elements */
html {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
body {
  background: #e6e2d7;
  padding-bottom: 0px;
  margin-bottom: 0px;
  color: #797266;
}

/* Links */
a {
  text-decoration: underline;
  color: #3679a8;
}
a:hover {
  text-decoration: underline;
  color: #66a4d0;
}

.contact-block {
    font-family: 'HelveticaNeue67MdCn', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.contact-block .title-line {
    color: #685d4e;
    font-size: clamp(1rem, 1.4vw, 1rem);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1.1px;

}

.contact-block .main-phone-number {
    font-size: clamp(1.75rem, 6.3vw, 3.36rem);
    font-weight: normal;
    line-height: 1;
    margin: 0;
    background: linear-gradient(135deg, #948c7c 0%, #8c8c7c 30%, #685d4e 45%, #685d4e 40%, #685d4e 85%, #685d4e 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-block .details-line {
    font-size: clamp(1rem, 0.7vw, 1.4rem);
    color: #685d4e;
    margin-top: 1rem;
    font-weight: normal;
}

/*Footer Social Media Icons*/
.socialIcons {
  background-image: url(../images/footer-social-media.gif);
  background-position: no-repeat;
  width: 30px;
  height: 30px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
#footerSocialIcons {
  margin: 35px 0 0 6px;
}
#footerSocialIcons li {
  list-style: none;
  float: left;
  margin: 0 0 0 10px;
}
#footerSocialIcons li a.icFacebook {
  background-position: 0px 0px;
}
#footerSocialIcons li a:hover.icFacebook {
  background-position: 0px -30px;
}
#footerSocialIcons li a.icTwitter {
  background-position: -40px 0px;
}
#footerSocialIcons li a:hover.icTwitter {
  background-position: -40px -30px;
}
#footerSocialIcons li a.icGooglePlus {
  background-position: -80px 0px;
}
#footerSocialIcons li a:hover.icGooglePlus {
  background-position: -80px -30px;
}
#footerSocialIcons li a.icPinterest {
  background-position: -120px 0px;
}
#footerSocialIcons li a:hover.icPinterest {
  background-position: -120px -30px;
}

/* Footer */
#phoneNumberLinks {
  width: 926px;
  margin: 10px auto;
  text-align: center;
}
#phoneNumberLinks a {
  color: #635544;
  font-size: 9px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  background: url(../images/footer-pointer.gif) 0px 1px no-repeat;
  padding: 0 9px 0 11px;
}
#phoneNumberLinks a:hover {
  color: #969182;
}
#phoneNumberLinks #footerLine {
  margin: 10px 0 3px 0;
}

#footerLogosWrapper {
  position: relative;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
#footerLogosBtn {
  position: absolute;
  top: -1px;
  width: 100%;
  line-height: 1px;
}
#footerLogosBtn img {
  vertical-align: top;
}
#footerLogos {
  background: url(../images/footer-logos-bg.webp) bottom center repeat-x;
  height: 150px;
  padding-top: 50px;
  text-align: center;
}

#footerNav {
  width: 896px;
  margin: 30px auto 5px auto;
  padding-left: 30px;
}
.footerDivider {
  width: 1px;
  font-size: 0%;
  line-height: 0%;
  height: 150px;
  background: #cecabd;
  float: left;
  display: inline;
  margin: 0 30px 0 15px;
}
#footerNav ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  float: left;
  display: inline;
  width: 130px;
}
#footerNav ul li {
  line-height: 18px;
  color: #797266;
}
#footerNav ul li a {
  color: #797266;
  text-decoration: none;
}
#footerNav ul li a:hover {
  text-decoration: underline;
  color: #5f594f;
}
#footerNav ul li:first-child {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #635544;
}

/* ------------------- Leftcolumn Items ---------------------------- */
#leftcolumn {
  border-right: 1px solid #9a9a9a;
  background-color: #efefef;
}
#pageholder {
  border-bottom: solid 1px #9a9a9a;
}
.hideIt {
  display: none;
}
.highlight {
  color: #336699;
  font-size: 11px;
  line-height: 13px;
}

.navInner {
  list-style: none;
  margin: 15px 0;
}
.navInner li.divider {
  height: 1px;
  font-size: 0%;
  line-height: 0%;
  background: #ccc;
  margin: 0px 10px;
}
.navInner a {
  text-decoration: none;
  color: #545e7a;
  font-weight: bold;
  display: block;
  padding: 8px 0px 8px 30px;
}
.navInner a:hover {
  color: #cc6666;
}
.navInner a.leftmenuitemon {
  background: url(../images/sidelinkon.gif) 18px 10px no-repeat;
  color: #cc6666;
}

.subhead_orange {
  font-weight: bold;
  color: #cc6666;
}
.indent {
  padding: 10px 15px 0px 10px;
}
.gradheadtable {
  margin-bottom: 30px;
}
.gradheadtable strong {
  color: #545e7a;
}
.gradheadtable #bggray {
  padding-left: 10px;
  font-size: 11px;
}
.gradheadtable #bgwhite {
  padding-left: 10px;
  font-size: 11px;
}
td,
th {
  line-height: 15px;
}
.dkgraysmall {
  font-size: 9px;
  line-height: 12px;
  color: #666666;
}
.tablecell {
  padding: 3px 3px 3px 9px;
  font-size: 11px;
}
.tablehead {
  font-size: 12px;
  font-weight: bold;
  color: #545e7a;
  padding: 3px 0px 3px 6px;
  border: 1px solid #ccc;
  background-color: #f0f3fc;
  margin-top: 0px;
}
.gradhead {
  font-size: 12px;
  font-weight: bold;
  color: #545e7a;
  padding: 3px 0px 3px 6px;
  border: 1px solid #ccc;
  border-bottom: 1px solid #666;
  border-top: 1px solid #e7e7e7;
  margin-top: 0px;
}
.textbox {
  font-size: 10px;
  border: 1px solid #666666;
}
.textboxDisabled {
  font-size: 10px;
  background-color: #f6f6f6;
  border: 1px solid #999999;
}
.button {
  border: 1px outset #cc6600;
  background-color: #ffffff;
  font-size: 10px;
  display: block;
}
.button a:link,
.button a:visited {
  border: 1px outset #dddddd;
  background-color: #eaeaea;
  font-size: 10px;
  display: block;
}
.button a:hover {
  background-color: #ff9966;
}
.button a:active {
  border: 1px inset #dddddd;
  background-color: #ff9966;
  color: #ffffff;
}
